.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    box-sizing: border-box;
}

.page-container h1 {
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    margin: 0;
    margin-bottom: 2rem;
}

.page-container p {
    font-size: 2.5rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    margin: 0;
    margin-bottom: 2rem;
}
.button-group {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.button-group button {
    display: inline-block;
    border-radius: 2rem;
    border: none;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    width: 200px;
    height: 80px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Inter', sans-serif;
}

.button-group button:first-child {
    background: transparent;
    color: #5227FF;
    border: 2px solid #5227FF;
}

.button-group button:first-child:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(82, 39, 255, 0.3);
}

.button-group button:last-child {
    background: transparent;
    border: 2px solid #FF3232;
    color: #FF3232;
}

.button-group button:last-child:hover {
    background: rgba(64, 255, 170, 0.1);
    transform: translateY(-2px);
}


