.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
}

.not-found-container h1 {
    font-size: 10rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    margin: 0;
    margin-bottom: 2rem;
}

.not-found-container p {
    font-size: 4rem;
}

